html{
	background: #D5D6E0;	
}
#sidenav {
	position:fixed;
	width:210px;
	height:100%;
	z-index:3;
	left: 0px;
	top: 0px;
	background-color: #232A61;
	text-align: center;
	color: white;
	padding-top: 15px;
	border-left: solid thin gray;

}
#header {
	position:fixed;
	width:100%;
	height:23px;
	z-index:2;
	left: 0px;
	top: 0px;
	text-align: right;
	color: white;
	padding-top: 3px;
	padding-bottom: 7px;
	background-color: #232A61;
	border-right: solid thin gray;
	border-bottom: solid thin gray;
}
#bigbox {
	position:absolute;
	z-index:1;
	left: 0px;
	top: 0px;
	padding-left: 220px;
	padding-top: 35px;
}
#contenido{
	overflow: inherit;
	padding-top: 10px;
}

#fullcontainer{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}
#login {
	display: block;
	width:200px;
	height:115px;
	z-index:1;
	margin: auto auto;
}
.listaSuger{
	position: absolute;
	width: 15.7em;
	z-index: 999;
	visibility: hidden;
	background-color: white;
	border: 1px solid #75b9f0;
	border-top: 0px;
	display: block;
}
.tablaNav{
	display: inline-block;

}
.error-message{
	display: inline-block;
	text-align: center;
	font-size: 10px;
	vertical-align: middle;
	margin-left: 15px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FF3D3D;
	border: 1px solid #fbeed5;
	webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	       border-radius: 4px;
	text-decoration: none;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin:0;/* <-- Apparently some margin are still there even though it's hidden */
}